/* ----------
global_styles
-------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    /* border: 2px solid blue;                                            */
}

.container{
    width: 1200px;
    margin: auto; 
}
a{
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: rgb(235, 233, 233);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#ffa69e, black);
}


/* -------------
navigation_bar
---------------- */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffa69e; 
    position: fixed;
    width: 100%;
    height: 9vh;
    z-index: 100;
}

.logo{
    font-size: 33px;
    color: wheat;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: wheat;
    display: flex;
    font-size: 17px;
    transition: .5s;
}

.nav-links a:hover{
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.burger div {
    width: 23px;
    height: 3px;
    background-color: wheat;
    margin: 4px;
    transition: all 0.3s ease;
}

.burger{
    display: none;
}

@media screen and (max-width:780px) {
    body{
        position: relative;
    }
    .burger{
        display: block;
    }
    .nav-links{
        position: absolute;
        right: 0;
        top: 9vh;
        height: 91vh;
        background: linear-gradient(to bottom right,#ffa69e, black );
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
}

.nav-active{
    transform: translateX(0%);
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
   transform: rotate(45deg) translate(-5px,-6px);
}

.phone{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    padding: 16px;
    border-radius: 60px;
    background: linear-gradient(#ffa69e, black);
    z-index: 100;
}

.fa-phone{
    color: white;
}

/* -------
first_section_starts
------------ */
.first-section {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(images/s2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
}

.first-section .container{
    max-width: 1000px;
    min-height: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.blogo{
    margin: auto;
    width: 60%;
    border-radius: 70px;
    height: 120px;
    background: linear-gradient(#ffa69e, black); 
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1050px) {
    .first-section .container{
        width: 70%;
    }
    .blogo{
        width: 100%; 
    }
}
.blogo p{
    position: relative;
    font-size: 55px;
    font-weight: 600;
    color: rgb(233, 232, 232);
}
.blogo p:before{ 
    position: absolute;
    content: '';
    top: 18%;
    left: -60px;
    height: 48px;
    width: 63%;
    background: rgb(233, 232, 232);
    border-top-left-radius: 100px;
}
.blogo p:after{
    position: absolute;
    content: '';
    bottom: 4px;
    left: -70px;
    height: 9px;
    width: 254%;
    border-radius: 9px;
    background: rgb(233, 232, 232);
}

@keyframes myAnimation{
    from{
        left: -10%;
    }
    to{
        left: 10%;
    }
}

.blogo{
    animation-name: myAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: relative;
}



.first-section-text{
    text-align: center;
    width: 100%;
    margin: auto;
}

.first-section-text h1 {
    padding: 20px 20px 20px 20px;
    font-size: 80px;
    color: rgb(235, 232, 232);
}

@media screen and (max-width:900px) {
    .first-section h1{
        font-size: 55px;
    }
    .first-section h3 {
        font-size: 22px;
    }
}

.first-section h1{
    font-size: 7;
    color: transparent;
    background: url(images/back.png);
    -webkit-text-stroke: 1px white;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 15s linear infinite;
}

@keyframes back {
    100%{
        background-position: 2000px 0;
    }
}
.first-section-text h3 {
    letter-spacing: 4px;
    font-size: 32px;
    margin-bottom: 20px;
    color: white;
}

/* -------------------
second_section_starts
------------------------ */

.second-section{
    max-width: 100%;
    background-color: #ffa69e;
    height: fit-content;
    padding: 20px; 
}

.second-section-title{
    margin: auto;
    width: 100%;
    padding: 10px;
}
.second-section-title h1{
    color: rgb(233, 232, 232);
    font-size: 32px;
    text-align: center;
    text-transform: capitalize;
}

.second-section-title p{
    text-align: center;
    font-family: cursive;
}
.second-section .container{
    width: 70%;
    height: fit-content;
    margin: auto;
}

.img .signature{
    position: absolute;
    bottom: -26px;
    left: 20%;
}

.signature p{
    color: black;
    font-family: cursive;
    letter-spacing: 3px;
    font-size: 35px;
}

@media screen and (max-width:900px) {
    .second-section .container {
        width: 100%;
    }
    .second-section p{
        font-size: 12px;
    }

    .second-section .img{
        width: 130px;
        height: 280px;
        border-radius: 130px;
    }

    .second-section .style{
         align-items: center; 
         justify-content: left;
    }

    .second-section .text-box{
        padding: 30px 0;
    }
    .second-section .dash{
        width: 130px;
        height: 280px;
        border-radius: 130px;
        border: 2px solid black;
        transform: rotate(15deg);
        position: relative;
    }

    .signature p{
        color: black;
        font-family: cursive;
        letter-spacing: 3px;
        font-size: 15px;
    }
    .shift{
        margin-left: 25px;
    }
    
}    
.second-section .style{
    flex: 0 0 65%;
    position: relative;
    display: flex; 
    justify-content: center; 
}


.dash{
    width: 200px;
    height: 360px;
    border-radius: 200px;
    border: 2px solid black;
    transform: rotate(25deg);
    position: relative;
    box-shadow: 20px #ffa69e;
    z-index: 1;
}

.img{
    width: 200px;
    height: 350px;
    border-radius: 200px;
    background: url(images/about\ \(2\).jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}
.text-box{
    flex: 0 0 35%;
    padding-top: 30px;
    color: black;
}

.text-box h1{
    color: rgb(233, 232, 232);
}

.text{
    margin-bottom: 25px;
}

/* --------------------------
our_collections
------------------------------ */
.collection{
    background-color: var(--primary-color);
    height: fit-content;
    padding-top: 10%;
}

:root{
     --primary-color: white; 
     --secondary-color: rgb(233, 232, 232); 
}

.dark-theme{
    --primary-color: black;
    --secondary-color: rgb(24, 23, 23);
}

#icon{
    width: 40px;
    float: right;
    color: black;
    cursor: pointer;
}


@media screen and (max-width:900px) {
    .collection{
        padding-top: 35%;
    }
}

.c-title{
    margin-left: 10px;
}

.c-title h1{
    font-size: 32px;
    color: transparent;
    -webkit-text-stroke: 1px wheat;
    
    font-family: cursive;
    transition-duration: .5s;
}

.c-title h1:hover{
    color: wheat;
}

.position{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-container{
    background-color: var(--secondary-color);
    padding: 20px 0;
    width: 98%;
    margin: auto;
    height: fit-content;
}

.sub-title{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sub-links{
    display: flex;
    justify-content: space-around;
    
}

.sub-links li{
     list-style-type: none; 
}

.sub-links a{
    font-family: cursive;
    color: wheat;
    margin-right: 12px;
    margin-left: 12px;
    font-size: 16px;
    font-weight: 400;
    transition-duration: 2s;
}

.sub-links a:hover{
    color: #ffa69e;
}

.small-container .row{
    /* align-items: center; */
    justify-content: center;
}
.line{
    height: 1px;
    width: 95%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 1px;
    background-color: wheat;
}

.c-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    padding-top: 5px;
    margin: 10px;
    height: 300px;
    border-radius: 10px;
     background-color: var(--primary-color); 
}

@media screen and (max-width:900px) {
    .c-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;
        padding-top: 5px;
        margin: 10px;
        height: 300px;
        border-radius: 10px;
        background-color: var(--primary-color);
    }
}

.collection .second-section .style{
    position: relative;
}


.collection .dash{
    width: 100px;
    height: 210px;
    border-radius: 90px;
    border: 2px solid rgb(233, 232, 232);
    transform: rotate(25deg);
    position: relative;
    box-shadow: 20px #ffa69e;
    z-index: 1;
}

.winter .dash{
    width: 100px;
    height: 210px;
    border-radius: 90px;
    border: 2px solid #ffa69e;
    transform: rotate(25deg);
    position: relative;
    box-shadow: 20px #ffa69e;
    z-index: 1;
}

.collection .img{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    background: url(images/fash1.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.winter .img{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    border: 2px solid #ffa69e;
    background: url(images/fash14.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.text-area{
    margin: 0 6px;
}
.text-area h3{
    color: wheat;
    font-size: 17px;
}

.text-area h1{
    font-size: 15px;
    color: rgb(58, 57, 57);
}

.text-area p{
    font-size: 13px;
    font-family: cursive;
    color: wheat;
}

 .cart{
    position: absolute;
    bottom: -26px;
    right: -12px;
}

.fa-shopping-cart{
    color: #ffa69e;
}

.collection .img2{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    background: url(images/fash2.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}
.collection .img3{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    background: url(images/fash3.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img4{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    background: url(images/fash4.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img5{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    background: url(images/fash6.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img6{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    background: url(images/fash13.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img7{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    background: url(images/fash12.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img8{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    background: url(images/fash8.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img9{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    background: url(images/fash7.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img10{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    background: url(images/fash9.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img11{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    background: url(images/fash10.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img12{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    background: url(images/fash11.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.winter{
    background-color: var(--primary-color);
    margin-top: 20px;
    height: fit-content;
    width: 100%;
}

.winter h3{
    color: #ffa69e;
}

.winter p{
    color: #ffa69e;
}

.collection .img13{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    border: 2px solid #ffa69e;
    background: url(images/fash19.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img14{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    border: 2px solid #ffa69e;
    background: url(images/fash18.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img15{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    border: 2px solid #ffa69e;
    background: url(images/fash26.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img16{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    border: 2px solid #ffa69e;
    background: url(images/fash17.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img17{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    border: 2px solid #ffa69e;
    background: url(images/fash20.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img18{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    border: 2px solid #ffa69e;
    background: url(images/fash25.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.summer{
    margin-top: 20px;
    background-color: var(--primary-color);
    margin-top: 30px;
    height: fit-content;
    width: 100%;
}

.collection .img19{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    border: 2px solid rgb(233, 232, 232);
    background: url(images/fash16.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img20{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    border: 2px solid rgb(233, 232, 232);
    background: url(images/fash22.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img21{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    border: 2px solid rgb(233, 232, 232);
    background: url(images/fash24.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img22{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    border: 2px solid rgb(233, 232, 232);
    background: url(images/fash23.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img23{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    border: 2px solid rgb(233, 232, 232);
    background: url(images/fash21.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img24{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    border: 2px solid rgb(233, 232, 232);
    background: url(images/fash27.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}


.accessories{
    margin-top: 20px;
    background-color: var(--primary-color);
    margin-top: 30px;
    width: 100%;
}

.collection .img25{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    border: 2px solid rgb(233, 232, 232);
    background: url(images/fash29.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img26{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    border: 2px solid rgb(233, 232, 232);
    background: url(images/fash33.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img27{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    border: 2px solid rgb(233, 232, 232);
    background: url(images/fash30.jpg);
    background-size: cover;
    background-position: left;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img28{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    border: 2px solid rgb(233, 232, 232);
    background: url(images/fash28.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img29{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    border: 2px solid rgb(233, 232, 232);
    background: url(images/fash32.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.collection .img30{
    width: 110px;
    height: 210px;
    border-radius: 110px;
    border: 2px solid rgb(233, 232, 232);
    background: url(images/fash31.jpg);
    background-size: cover;
    background-position: center;
    transform: translate(-20deg);
    position: absolute;
    z-index: 2;
}

.noofproduct{
    display: flex;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    justify-content: center;
    padding: 10px;
}

.noofproduct h1{
    -webkit-text-stroke: 2px #ffa69e;
}

.noofproduct {
    animation-name: animation; 
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes animation {
    from{
        font-size: 13px;
    }
    to{
        font-size: 18px;
    }
}

/* ------------------
testimonials
---------------------- */

.testimonials{
    margin: auto;
    max-width: 100%;
    min-height: 100vh;
    padding-top: 90px;
    background-color: wheat;
}

.testimonials .title{
    width: 70%;
    margin: auto;
}

.title h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    color: #ffa69e;
}

.title .line{
    width: 36%;
    height: 4px;
    border-radius: 10px;
    background-color: #ffa69e;
    text-align: center;
}

.testimonials .title p{
    padding-top: 5px;
    padding-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 19px;
}

.testimonials .small-container{
    max-width: 1200px;
    height: fit-content;
    background-color: wheat;
}

.t-box{
    min-height: 350px;
    max-width: 340px;
    margin-bottom: 10px; 
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}


.t-img{
    position: absolute;
    transform: translate(105% , -25%);
    margin: auto;
    background-color: wheat;
    width: 110px;
    height: 110px;
    border-radius: 110px;
}

.testimonials img{
    padding: 10px;
    width: 110px;
    height: 110px;
    border-radius: 110px;
}

.t-text{
    background-color: #ffa69e;
    border-radius: 5px;
    padding-top: 70px;
    line-height: 28px;
    width: 90%;
    height: 85%;
    margin: auto;
}

.t-text p{
    color: rgb(24, 24, 24);
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 10px;
    margin-left: 10px;
}

.t-text h2{
    font-size: 19px;
    color: wheat;
    margin-top: 15px;
}

.t-text span{
    font-size: 14px;
    color: rgb(75, 73, 73);
    font-family: cursive;
}

/* ------------
contact_section
----------------*/
.contac{
    margin: auto;
    width: 100%;
    padding-top: 90px;
    min-height: 100vh;
    background-color: wheat;
}

.contac .title{
    margin: auto;
}

.contac .title h1{
    color: rgb(121, 118, 118);
}

.contac .title h1{
    color: rgb(121, 118, 118);
}
.contac .row{
    display: flex;
    flex-wrap: wrap; 
    align-items: center; 
    justify-content: center; 
}

 @media screen and (max-width:900px) { 
    .contac .container{
        max-width: 100%;
        padding: 10px;
        height: fit-content;
        display: block;
    }

    .form{
        width: 60%;
    }
    .contac .title h1{
        color: rgb(121, 118, 118);
        font-size: 20px;
    }
}

.map{
    width: 600px;
    height: 450px;  
    margin: 0px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.mapping{
    flex: 0 0 70%;
    background-color: rgb(121, 118, 118);
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
iframe{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.links{
    flex: 0 0 30%;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.form{
    display: flex; 
    width: 480px;
    align-items: center;  
    justify-content: center; 
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

label{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    width: 90%;
    max-width: 450px;
    padding: 2vh 4vh;
}

.contac button{
    border-radius: 25px;
    color: white;
    font-size: 16px;
}

.field{
    margin: 10px;
}

.contac .line{
    margin-bottom: 20px;
}
input, textarea{
    width: 90%;
    border: 0; 
    margin: 10px 0; 
    padding: 20px; 
    outline: none;
    border-radius: 10px;
    font-size: 17px;
    background-color: rgb(241, 239, 239);
}

button{
    width: 60%;
    background-color: #f19a92;
    border: 0;
    border-radius: 10px;
    padding: 15px;
}
